		
* {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
   box-sizing: border-box;
}
      body {
		  position: relative;
	  }	

       #top-container {
	    height: 100vh;
		background:url('../Omar6741.github.io/Awesome-Modern-Executive-Desk.jpg');
		background-position: center;
		background-attachment: fixed;
		-webkit-background-size: cover; 
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		position: relative;
	   }

	   #middle-container {
		margin: 100px 0;
		margin: 0px;
	text-align: center;
	font-family: "Merriweather", serif;
	color: #40514e;
	  }

	  #bottom-container {
		margin: 100px 0;
		margin: 0px;
	text-align: center;
	font-family: "Merriweather", serif;
	color: #40514e;
	display: flex;
	justify-content: space-evenly;
	  }

        #container{
  	     background: black;
  	     width: 480px;
  	     color: white;
  	     padding: 5px;
		 text-align: center;
          }
		  
		  #navbar {
              text-align: center;
          }
		  
		  #footer{
			  margin-top: 30px;
			  background: white;
			  color: black;
			  padding: 5px;
		  }
		  h1 {
			font-size: 5.625rem;
			/* Note: 1
			em = 100% = 16px; rem = rootem (ignores container font-sizes) */
			margin-top: 50px auto 0px auto;
			position: absolute;
			left: 50%;
			font-family: "Sacramento", cursive;
			color: #153a52; 
			line-height: 2;
		  }

		  hr {
			border: dotted #eaf6f6 6px;
			width: 5%;
			border-bottom: none;
			margin: 100px auto;
		  }		  
		  
		#intro {
			font-family: "Montserrat", sans-serif;
			font-size: 2rem;
			color: #153a52;
			font-weight: normal;
			line-height: 2;
			position: absolute;
			left: 60%;
			top:30%;

		  }
		 
		 /* h2{
		 background: rgb(128, 128, 160);
		 font: Lato;
		 padding: 5x;
		 border-radius: 5x;	
		 text-align: center;
		 } */

        h3{
			font-family: "Montserrat", sans-serif;
         font-size: 1.7rem;
  	     color: #153a52;
  	     padding: 5x;
  	     border-radius: 5px;
         }

         a {
         	color: #48acf4;
         	text-decoration: none;
         }

         p {
             font-size: 1.1rem;
         }

		 .navbar {
			position: relative;
			margin-left: 2%;
			margin-top: 2%;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			padding-top: .5rem;
			padding-bottom: .5rem;
			background-color: #153a52;
			display: inline-block;
			width: 15vw;
			height: 50vh;
		}

		.navbar li {
			position: absolute;
			left: 5%;
			color: white;
		}

		 .nav-menu {
			padding: 30px 0 0 0;
		  }
		  
		  .nav-menu * {
			margin: 0;
			padding: 0;
			list-style: none;
		  }

		  .nav-menu > ul > li {
			position: relative;
			white-space: nowrap;
		  }

		  .nav-menu a {
			display: flex;
			align-items: center;
			color: #a8a9b4;
			padding: 12px 15px;
			margin-bottom: 8px;
			transition: 0.3s;
			font-size: 15px;
		  }

		  .nav-menu a i {
			font-size: 2rem;
			padding-right: 8px;
			color: #6f7180;
		  }
		  
		  .nav-menu a:hover, .nav-menu .active, .nav-menu li:hover > a {
			text-decoration: none;
			color: #fff;
		  }

		  .nav-menu a:hover i, .nav-menu .active i, .nav-menu li:hover > a i {
			color: #149ddd;
		  }

		  #navtext {
			  color: white;
		  }

		  .profile {
			  margin-top: 100px;
		  }

		  .code-img {
			width: 25%;
			float: left;
			margin-right: 30px;
		  }
		  .cyberwar-img {
			width: 25%;
			float: right;
			margin-left: 30px;
		  }
		  
		  .project-row {
			position: relative;
			width: 50%;
			text-align: left;
			margin: 100px auto 100px auto;
		  }
		  .intro {
			width: 30%;
			margin: 0 auto;
			line-height: 2;
		  }

		